.input{
    color:white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0 auto; /* Add this line to center the container horizontally */
    padding: 20px; /* Add padding to create a margin around the container */
    background-color: slategray;
    border: 0;
    box-shadow: none;
  }

  form {
    width: 300px;
  }

  .input {
    margin-bottom: 15px;
  }

  body{
    margin: 0 !important;
    background-color: slategray;
    
  }

  .btn {

    /* color:red; */
  }

  #tab-register{
    color:white;
  }

  #tab-login{
    color:white;
  }