<div class="search">
    <form #form="ngForm" (submit)="onSubmit()">
      <input type="text" placeholder="Search city" name="city" [(ngModel)]="cityName">
    </form>
  </div>
  
  
  
  <div class="container">
    <div class="upper-data">
      <img src="../assets/hot-weather.webp" *ngIf="weatherData.current.temp > 288">
      <img src="../assets/cold-weather.jpg" *ngIf="weatherData.current.temp <= 288">
  
      <div class="weather-data">
        <div class="location">{{ cityName }}</div>
      
        <div class="temperature">{{ (weatherData.current.temp - 273.15) | number: '1.0-0' }}°C</div>
  
      </div>
    </div>
    <div class="lower-data">
   
    
      <div class="more-info-label">
        Current Weather :   {{weatherData.current.weather[0].description}} <!--First weather object of array = current weather-->
      </div>
      <div class="row">
        <div class="info-block">
          
            
        
        </div>
      </div>
      <div class="more-info-container">
        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/cold-thermometer.jpg" class=" src">
            <span>min </span>
          </div>
          <div class="info-block-value">
            {{ (weatherData.daily[0].temp.min - 273.15) | number: '1.0-0' }}°C
          </div>
        </div>
  
        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/hot-thermometer.jfif" class=" src">
            <span>max </span>
          </div>
          <div class="info-block-value">
            {{ (weatherData.daily[0].temp.max - 273.15) | number: '1.0-0' }}°C
          </div>
          
          
        </div>
  
        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/rain.jfif" class=" src">
            <span>Clouds </span>
          </div>
          <div class="info-block-value">
            {{ weatherData.current.clouds }}%
          </div>
        </div>
  
        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/wind.png" class=" src">
            <span>Wind </span>
          </div>
          <div class="info-block-value">
            {{ weatherData.current.wind_speed }} km/h
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  <div class="row">
    <div class="col-3">
      <button class="btn btn-success" (click)="openModal('hourlyForecastModal')">Hourly Forecast</button>
    </div>
    <div class="col-3">
      <button class="btn btn-success" (click)="openModal('twoDayForecastModal')">2 Day Forecast</button>
    </div>
    <div class="col-3">
      <button class="btn btn-success" (click)="openModal('sevenDayForecastModal')">7 Day Forecast</button>
    </div>
  </div>
  
  <!--====FIRST MODAL====-->
  
  <div class="modal" id="hourlyForecastModal">
    <!-- Modal content for hourly forecast -->
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Hourly Forecast Data</h4>
          <button type="button" class="btn-close" (click)="closeModal('hourlyForecastModal')" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <!-- Place your hourly forecast content here -->
     
        
  
            <div class="row">
              <div *ngFor="let data of getRemainingHours()" class="col-3"> 
                <div class="card">
                  <div class="card-body">
                    <p class="card-title">Hour: {{ (data.dt * 1000) | date:'shortTime' }}</p>
                    <p class="card-text">Temperature: {{ (data.temp - 273.15) | number: '1.0-0' }} °C</p>
                    <p class="card-text">Feels Like: {{ (data.feels_like - 273.15) | number: '1.0-0' }} °C</p>
                    <p class="card-text">Clouds: {{ (data.clouds ) | number: '1.0-0' }} %</p>
                    
                    <!-- Display other properties as needed -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closeModal('hourlyForecastModal')" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  
    
  <!--====SECOND MODAL====-->
  
  <div class="modal" id="twoDayForecastModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Two-Day Forecast Data</h4>
          <button type="button" class="btn-close" (click)="closeModal('twoDayForecastModal')" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <div class="row" *ngFor="let day of weatherData.daily.slice(0,2); let i = index"> <!--slice will extract indexes 0 & 1  Maybe should be slice(1.3) , we already have todays data --> 
                  <div class="col-12">                                              <!-- ^default will is 0 -->
                    <h5> {{ (day.dt * 1000) | date:'mediumDate' }}</h5>
                    <p>Summary: {{ day?.summary }}</p>
                    <p>Temperature: {{ day.temp.day - 273.15 | number: '1.0-0' }} °C</p>
                    <p>Feels Like: {{ day.feels_like.day - 273.15 | number: '1.0-0' }} °C</p>
                    <p>Weather: {{ day.weather[0].description }}</p>
                    <p>Cloud Coverage: {{day.clouds}}%</p>
                    <P>Chance of rain: {{day.pop * 100}} % </P>

                  </div>
              
             </div>
            </div>
          </div>
       
    

          
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closeModal('twoDayForecastModal')" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  
    
  
  <!--====THIRD MODAL====-->
  
  
  <div class="modal" id="sevenDayForecastModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Seven-Day Forecast Data</h4>
          <button type="button" class="btn-close" (click)="closeModal('sevenDayForecastModal')" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <div class="row" *ngFor="let day of weatherData.daily.slice(0, 7); let i = index">
            <div class="col-12">
              <h5> {{ (day.dt * 1000) | date:'mediumDate' }}</h5>
              <p>Summary: {{ day?.summary }}</p>
              <p>Temperature: {{ day.temp.day - 273.15 | number: '1.0-0' }} °C</p>
              <p>Feels Like: {{ day.feels_like.day - 273.15 | number: '1.0-0' }} °C</p>
              <p>Weather: {{ day.weather[0].description }}</p>
              <p>Cloud Coverage: {{day.clouds}}%</p>
              <P>Chance of rain: {{day.pop * 100}} % </P>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closeModal('sevenDayForecastModal')" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <!--Pop up models-->